$bg-color: blue;

h1, p{
    text-align: center;
}

h1{
  padding-bottom: 1em;
}

h2{
  padding-bottom: 0.5em;
}

#titrePage{
  padding-bottom: 1em;
}

section{
  padding-bottom: 2em;
}

article{
  text-align: right;
}
